<!DOCTYPE html>
<html>
	<head>
	  <meta charset=utf-8 />
	  <title> {% if page.title %} {{ page.title }} | {% endif %} M+ Blog </title>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-37178706-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

	  <link rel="stylesheet" href="/css/styles.css" />
	  <link rel="stylesheet" href="/css/skeleton/base.css">
	  <link rel="stylesheet" href="/css/skeleton/skeleton.css">
	  <link rel="stylesheet" href="/css/skeleton/layout.css">
	  <link rel="stylesheet" href="/css/main.css">
	  <link rel="stylesheet" href="/css/docco.css">
	  <link rel="stylesheet" href="/css/styles/googlecode.min.css">
	</head>
	<body>
	<div class="container">
		<div class="four columns sidebar">
			<nav>
				<h4 id="logo">M+ Blog</h4>
				<ul>
 					<li><a href="/">Home</a></li>
					<li><a href="/archive.html">Archive</a></li>
					<img src="/images/photo.jpg"/>
					<h5>"I could write JavaScript on a pocket calculator" - also Python BFF, and Algorithms addicted</h5>
					&nbsp;
					<h5>During the past 10 years I have been developing software using many different programming languages, working all around Italy and Europe.</h5>
					&nbsp;
					<h5>Follow me:</h5>
						<table>
						    <tr>
							<td><a href="https://twitter.com/marcellolarocca" title='Follow me on Twitter'><img src="/images/share_twitter.png"/></a></td>
							<td><a href="https://plus.google.com/u/0/116060034086134836013/posts" title='Follow me on Google +'><img src="/images/share_g+.png"/></a></td>
							<td><a href="https://github.com/mlarocca" title='My GitHub page'><img src="/images/share_github.png"/></a></td>
							<td><a href="it.linkedin.com/in/marcellolarocca/" title='Contact me on LinkedIn'><img src="/images/share_link.png"/></a></td>
						    </tr>						
						</table>
					
				</ul>
			</nav>

			&nbsp;
		</div>
		<div class="sixteen columns content">
		{{ content }}
		</div>
	</div>

	</body>
</html>
